*{
    box-sizing: border-box;  
}

body{
    margin:auto;
    font-family: "Roboto";
    background-color: rgba(240,240,240,0.8)

}

.header{
    background-color: #EAC926;
    padding: 20px;
   
}

#logo {
    width: 150px;
  }

.header-compras{
    text-align: center;
    text-decoration: none;
    color: #222222;
}

.banner{
    width: 78%;
}

.div-banner{
    display: block;
    text-align: center;
    margin-top: 15px;
}

.btn-outline-dark{
  display: block;
  margin: auto;

}

.header-bottom-bar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0%;
}

.header-bottom-bar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 3px;
}

.header-input-search{
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    
}

.header-input-search:focus{
    border: white;
    color: grey;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 90%;
    padding-bottom: 20px;
    
}

.main-articulos-visitas{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: auto;
   padding-bottom: 10px;

}

.main-articulos-ofertas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;

}

.main-size{
    font-size: 1rem;
}

.borde-producto{
    margin: 20px;
    padding: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.9);
    border-radius: 5px;
    
}

.iconos-main{
    color: #39b54a;
    
}

.iconos-main-truck{
    color: #39b54a;
    border: solid 1px #39b54a;
    padding: 6px;
    border-radius: 50% 50% 50% 50%;
    background-color: white;
    
}


.contenedor-descripciones{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 110px;
    width: 100%;
}


.item0{
    order: 1;
    align-self: center;
    font-weight: bold;
    position: relative;
    left: -65px;
    font-size: 1.2rem;

}

.item4{
    order: 0;
    align-self: flex-end;
    font-weight: bold;
    position:relative;
    bottom: -15px;;
    
}

.item1{
    order: -1;
    align-self: center;
    position: relative;
    left: 20px;
    

}

.item-truck{
    display: block;
    text-align: right;
}

#dimesiones-descripciones{
    order: -1;
    align-self: center;
    position: relative;
    left: 50px;
}


.titulares{
    padding: 15px;
    font-size: 1.5rem;
}


.iconos-footer{
    margin-bottom: 10px;
    font-size: 2rem;
    color: #1259c3;
}

.iconos-footer:hover{
    color: rgb(106, 90, 205)
}

.footer-titulares{
    font-size: 1.5rem;
    color: #313230;
    font-weight: 400;
}

.parrafos{
    text-align: center;
    color: dimgray;
    font-size: 0.75rem;
} 

.precios{
    font-size: 1.125rem;
}





/* --CREA TU CUENTA */

.hedear-crea-tu-cuenta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.button-crear-cuenta{
  border: none;
  padding: 5px;
  color: gray;
}

.formulario-crear-cuenta{
    max-width: 90%;
    background-color: rgba(66, 63, 64, 0.11);
    margin-top: 45px;
}


.formulario-crear-cuenta div input {
    border-radius: 3px;
    border: none;
}

.formulario-crear-cuenta div  {
    margin: 10px;
    padding: 5px;
}


.section-crea-tu-cuenta{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.detele-button{
    border-radius: 3px;
    border: none;
    background-color:orange;
    color: white;
    padding: 10px;
}

.submit-button{
    border-radius: 3px;
    border: none;
    background-color:rgb(106, 90, 205);
    color: white;
    padding: 10px;
}

.input-img-usuario{
    border-radius: 3px;
    border: none;
}



/* LOGIN */

.form-login{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

.form-login-hijo{
    
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgba(66, 63, 64, 0.11)
    
}

.div-form-hijo{
    margin: 20px;
    
}

.button-login{
    border-radius: 5px;
    background-color: rgb(106, 90, 205);
    color: white;
    border: none;
    padding: 4px;
    
}
.link-login{
    text-decoration: none;
    text-decoration-style: none;
    color: white;
}

.button-login-siging{
    border-radius: 5px;
    background-color: #313230;
    border: none;
    color: white;
    padding: 10px;
}

.input-login{
    border: none;
    border-radius: 7px;
}

.button-login-siging:hover{

    background-color: #eac926;
}

.borde-fondo-2{
    filter: drop-shadow(.75em .75em 50px #eac926);
}

.main-login{
    background-color: rgba(66, 63, 64, 0.11);
}




@media (max-width: 767px){

    .header-compras{
        text-align: center;
        display: block;
        margin: auto;
        text-decoration: none;
        color: #222222;
    }
    .header-bottom-bar{
        display: none;
    }
    .header-input-search{
        width: 50%;
        margin: 10px;
        text-align: center;
    }
    .input {
        width: 60%;
    }

    #logo {
        width: 50%;
        text-align: center;
      }

    .header-top-bar{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .main-articulos-visitas, .main-articulos-ofertas{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
    }

    .footer-articulos{
        text-align: center;
    }
    .section-crea-tu-cuenta{
        margin-bottom: 60px;
    }

    .resoluciones {
        width: 55%;
    }
   
    


}

@media (min-width: 768px){
    
    .header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    .header-compras{
        max-width: 250px;
        text-align: right;
    }
    .btn-outline-dark{
        display: none;
    }
    .header-bottom-bar{
        display: flex;
        justify-content: space-between;
    }
    .header-bottom-bar ul{
        display: flex;
    }
    .header-bottom-bar li{
        margin: 0 2px;
    }
  
    .footer-articulos{
        text-align: center;
    }
    .section-crea-tu-cuenta{
        margin-bottom: 60px;
    }

    .resoluciones {
        width: 55%;
         
    }
  
    
    
}

@media (min-width: 1200px){
   
    .header-bottom-bar, .header-top-bar{
        max-width: 1200px;
        margin: auto;
        
    }
    .header-bottom-bar{
        margin-top: 10px;
        
    }
    #logo {
        width: 250px;
      }
    .header-compras{
        max-width: none;
 
    }
    .header-top-bar{
        align-items: center;
    }
    
    .ofertas-none{
        display: none;
    }

    .contenedor-1200{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        
    }
    .footer-articulos{
        text-align: center;
        padding: 5px;
        margin: 5px;
    }
    .productos-desktop{
        display: flex;
    }

    .main{
        justify-content: start;
    }

    .titulares::after{
        content: "   Ver historial";
        font-size: 1rem;
        text-decoration: underline;
        text-decoration-color: #1259c3;
        color: #1259c3;
    }

    .resoluciones {
        width: 60%;
         
    }

    .contenedor-descripciones{
        height: 130px;
        width: 100%;
    }
    
    .item0{
        left: -45px;
        font-size: 1.1rem;
    
    }

    #dimesiones-descripciones{
        order: -1;
        align-self: center;
        position: relative;
        left: 45px;
    }


}