.header{
    color: black;
    background-color: #EAC926;
    font-family: 'Raleway', sans-serif;
    border: solid 2px grey;
    padding: 22px;
    margin: 30px;
    box-sizing: border-box;
    text-align: center;
}
.main {
    background-color:#EAC926;
    font-family: 'Raleway', sans-serif;
    padding: 50px;
    margin: 30px;
    border: solid 2px grey;
    box-sizing: border-box;
}

.footer{
    border: solid 2px grey;
    background-color: #EAC926;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 22px;
    margin: 30px;
}

#logo {
    height: 100px;
    width: 200px;
}

#ul {
    list-style-type: none;
    padding: 0;
    text-decoration:none;
    width: 100px;
    height: 100px;
}
.articulos{
    position: relative;
    

}
.centrado{
    text-align: center;
}
.titulares{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
.descripciones{
    font-size: 16px;
}
.resoluciones {
    width: 400px;
    height: 400px;
}

