#logo {
    height: 100px;
    width: 200px
}

#ul {
    list-style-type: none;
    padding: 0;
    text-decoration:none;
    width: 100px;
    height: 100px;
}
.centrado{
    text-align: center;
}
.cuerpo {
    background-color:#EAC926;
    font-family: 'Raleway', sans-serif;;
    
}
.titulares{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
.descripciones{
    font-size: 16px;
}
.resoluciones {
    width: 400px;
    height: 400px;
}

