<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error 404</title>
</head>
<body>
    <div class="row">
        <div class="col-6">
            <h1>Error - la página que buscas no se encuentra</h1>
            <br><br>
            <a href="/"><button>Volver a la página principal</button></a>
        </div>
    </div>
</body>
</html>