<section class="footer">

    <article class="footer-articulos">
        <i class="fa-solid fa-credit-card iconos-footer "></i>
         
        <div class="iconos-footer-margin">
            <h3 class="footer-titulares"> Pagá con tarjeta o efectivo</h3>
            <p class="parrafos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>    
    </article>
            
    <article class="footer-articulos">
        <i class="fa-solid fa-gift iconos-footer"></i>

        <div class="iconos-footer-margin">
            <h3 class="footer-titulares">Envío gratis desde $ 2.500</h3>
            <p class="parrafos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
    </article>

    <article class="footer-articulos">
        <i class="fa-solid fa-user-shield iconos-footer"></i>

        <div class="iconos-footer-margin">
            <h3 class="footer-titulares">Seguridad, de principio a fin</h3>
            <p class="parrafos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> 
        </div>
    </article>

</section>

<article class="footer-articulos ">
        <p class="parrafos">Copyright © 1999-2022 MercadoLiebre S.R.L. by Emiliano Olivera</p>
</article>