<header class="header"  >
    <div class="header-top-bar" id="principio">
                    
        <a href="/"><img  src="/imagenes/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"> </a> 

        <div><input type="text" name="" id="" placeholder="Buscar, productos..." class="header-input-search"> <button class="button-crear-cuenta"><i class="fa-solid fa-magnifying-glass "></i></button></div>


        <a href="/financiacion.html" class="header-compras"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</a>

    </div>

    <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>

    <nav class="header-bottom-bar">
        
        <ul class="nav-var">
            <li><a href="/products/ofertas"> <i class="far fa-id-card"></i> Ofertas |</a></li>
            <li><a href="/products/detalle"> Detalle de Productos | </a></li>
            <li><a href="#"> Vender | </a></li>
            <li><a href="#"> Ayuda |</a></li>
        </ul>

        <ul class="nav-var-derecha">
            <li><a href="/users/register"> <i class="far fa-id-card"></i> Creá tu cuenta |</a></li>
            <li><a href="/users/ingresa"> <i class="fas fa-sign-in-alt"></i> Ingresa |</a></li>
            <li><a href="#"> <i class="fas fa-shopping-basket"></i> Mis compras |</a></li>
        </ul>

    </nav> 

    <div class="div-banner">
        <img src="/imagenes/img-home-banner.jpg" alt="banner" class="banner">
    </div>
</header>