<nav class="navbar navbar-expand-lg navbar-light header text-center">
    <div class="container-fluid">
        <a href="/"><img  src="/imagenes/img-main/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"> </a> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <% if (locals.isLogged) { %>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../../../imagenes/img-users/<%= locals.userLogged.avatar %>" class="rounded-circle icono-user" alt=""> Hola <%= locals.userLogged.username %> 
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a href="/users/profile" class="nav-link"> <i class="fa-solid fa-sack-dollar"></i> Mi perfil </a></li>
                  <li><a href="/products/crear" class="nav-link"> <i class="fa-solid fa-sack-dollar"></i> Vender </a></li>
                  <li><a href="/products/ofertas" class="nav-link"><i class="fa-solid fa-heart"></i> Comprar </a></li>
                  <li><a href="#" class="nav-link"> <i class="fas fa-shopping-basket"></i> Carrito </a></li>
                  <li><a href="/users/logout" class="nav-link"><i class="fa-solid fa-person-walking-arrow-right"></i></i> Salir </a></li>
                </ul>
              </li>
              
          <% } else { %>
            <li class="nav-item">
              <a href="/products/ofertas" class="nav-link"> <i class="fa-solid fa-cart-shopping"></i> </i> Ofertas |</a>
            </li>
            <li class="nav-item">
              <a href="/users/form-crear-usuario" class="nav-link"> <i class="far fa-id-card"></i> Creá tu cuenta |</a>
            </li>
            <li class="nav-item">
              <a href="/users/ingresa" class="nav-link"> <i class="fas fa-sign-in-alt"></i> Ingresa |</a>
            </li>
            <li class="nav-item">
            </li>
          <% }%>
        </ul>
      </div>
      <div class="">
      </div>
     
    </div>
    <div class="header-top-bar" id="principio"></div>
    
  </nav>