<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width = device-width">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css
    ">
    <link href="./css/styless.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/99336f54c5.js" crossorigin="anonymous"></script>
    
    <script src='main.js'></script>
</head>

<body>
    <header class="header">
        <div class="header-top-bar">
            
            <img src="./imagenes/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo">

        

           
            <a href="./financiacion.html" class="header-compras"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</a>
       
        </div>
        <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>
        
        <nav class="header-bottom-bar">
            
           <ul class="nav-var">
                <li><a href="#"> Ofertas | </a></li>
                <li><a href="./tiendasOficiales.html"> Tiendas Oficiales | </a></li>
                <li><a href="./vender.html"> Vender | </a></li>
                <li><a href="./ayuda.html"> Ayuda |</a></li>
            </ul>
       
         
            <ul class="nav-var-derecha">
                <li><a href="./creaTuCuenta.html"> <i class="far fa-id-card"></i> Creá tu cuenta |</a></li>
                <li><a href="./ingresa.html"> <i class="fas fa-sign-in-alt"></i> Ingresa |</a></li>
                <li><a href="./misCompras.html"> <i class="fas fa-shopping-basket"></i> Mis compras |</a></li>
            </ul>
        </nav> 
        
        <div class="div-banner"><img src="./imagenes/img-home-banner.jpg" alt="banner" class="banner"></div>
    </header>
    
    <main class="main">

        <h2 class="titulares order-0-visitas">Basado en tu última visita</h2>
        <section class= "main-articulos-visitas">
            
            <article class="border-ofertas order-1-visitas">
                <img src="./imagenes/img-macbook-pro-2019.jpg" alt="Imagen de MacBook" class="resoluciones">
                <p><i class="fa-solid fa-truck-fast iconos-main"></i></p>
                <p class="precios"> uS$ 1500 </p>
                <p class=".main-size  iconos-main"> 10% off </p>
                <p class=".main-size main-descripciones">MacBook Pro 2019</p> 
            </article>
            
            <articlec class="border-ofertas order-2-visitas">
                <img src="./imagenes/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy" class="resoluciones">
                <p><i class="fa-solid fa-truck-fast iconos-main"></i></p>
                <p class="precios"> uS$700 </p>
                <p class=".main-size iconos-main"> 5% off</p>
                <p class=".main-size main-descripciones">Samsung Galaxy S10</p>
            </article>
       
        </section>
        
        <h2 class="titulares order-0-ofertas">Sección de ofertas</h2>
        
        <section  class="main-artculos-ofertas">
            
            <article class="border-ofertas order-1-ofertas">
                <img src="./imagenes/img-tv-samsung-smart.jpg" alt="Imagen de TV Samsung " class="resoluciones">
                <p><i class="fa-solid fa-truck-fast iconos-main"></i></p>
                <p class="precios"> uS$1490</p>
                <p class=".main-size  iconos-main">30% off</p>
                <p class=".main-size main-descripciones">Smart-TV Samsung FSDK</p>
            </article>
            
            <article class="border-ofertas order-2-ofertas">
                <img src="./imagenes/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex" class="resoluciones">
                <p><i class="fa-solid fa-truck-fast iconos-main"></i></p>
                <p class="precios">uS$40</p>
                <p class=".main-size iconos-main">25% off</p>
                <p class=".main-size main-descripciones">Cafetera Moulinex</p>
                
                
            </article>

        </section>
    
    </main>
    
    <footer class="footer">
        
       
        <i class="fa-solid fa-credit-card iconos-footer"></i>
        <h3 class="footer-titulares"> Pagá con tarjeta o efectivo</h3>
        <p class="parrafos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        
        
        
        <i class="fa-solid fa-gift iconos-footer"></i>
        <h3 class="footer-titulares">Envío gratis desde $ 2.500</h3>
        <p class="parrafos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
       
        <i class="fa-solid fa-user-shield iconos-footer"></i>
        <h3 class="footer-titulares">Seguridad, de principio a fin</h3>
        <p class="parrafos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> 
    
        
       
        <p class="parrafos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
       
    
  
    </footer>
</body>
</html>