<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width = device-width">
    <title>Mercado Liebre</title>

    <!--Bootstrap (icons)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css
    ">
    <!--Normalize-->
    <link rel="stylesheet" href="./css/normalize.css">

    <!--My Styles-->
    <link href="./css/styless.css" rel="stylesheet">

    <!--Font Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/99336f54c5.js" crossorigin="anonymous"></script>
    
    <script src='main.js'></script>
</head>

    <body>

        <header class="header">
            
            <div class="header-top-bar">
                
                <a href="/"><img  src="./imagenes/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"> </a> 

                <div><input type="text" name="" id="" placeholder="Buscar, productos..." class="header-input-search"> <button class="button-crear-cuenta"><i class="fa-solid fa-magnifying-glass "></i></button></div>

            
                <a href="./financiacion.html" class="header-compras"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</a>
        
            </div>
            
            <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>
            
            <nav class="header-bottom-bar">
                
                <ul class="nav-var">
                    <li><a href="#"> Ofertas | </a></li>
                    <li><a href="./tiendasOficiales.html"> Tiendas Oficiales | </a></li>
                    <li><a href="./vender.html"> Vender | </a></li>
                    <li><a href="./ayuda.html"> Ayuda |</a></li>
                </ul>

                <ul class="nav-var-derecha">
                    <li><a href="/creatucuenta"> <i class="far fa-id-card"></i> Creá tu cuenta |</a></li>
                    <li><a href="/ingresa"> <i class="fas fa-sign-in-alt"></i> Ingresa |</a></li>
                    <li><a href="./misCompras.html"> <i class="fas fa-shopping-basket"></i> Mis compras |</a></li>
                </ul>

            </nav> 
            
            <div class="div-banner">
                <img src="./imagenes/img-home-banner.jpg" alt="banner" class="banner">
            </div>

        </header>
        
        <main class="main">

            <h2 class="titulares">Basado en tu última visita</h2>
            
            <div class="contenedor-1200">
            
                <section class= "main-articulos-visitas">

                    <div class="productos-desktop">
                        
                        <article class= " articulo-margin borde-producto">
                            <img src="./imagenes/img-macbook-pro-2019.jpg" alt="Imagen de MacBook" class="resoluciones">
                            <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck"></i></p>

                            <div class="contenedor-descripciones">
                                <p class="precios item1"> uS$ 1500 </p>    
                                <p class="main-size  iconos-main item0"> 10% off </p>
                                <p class="main-size item4 ">MacBook Pro</p>    
                            </div>
                        </article>

                        <article class= "articulo-margin borde-producto">
                            <img src="./imagenes/productonuevo1.jpg" alt="Imagen apple Watch" class="resoluciones">
                            <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck"></i></p>
                
                            <div class="contenedor-descripciones">    
                                <p class="precios item1"> uS$ 400 </p>
                                <p class="main-size  iconos-main item0"> 10% off </p>
                                <p class="main-size item4">Apple Watch</p>
                            </div>
                        </article>
                    </div>

                    <div class="productos-desktop">

                        <article class= "articulo-margin borde-producto">
                            <img src="./imagenes/productonuevo2.jpg" alt="Imagen de camiseta de Uruguay" class="resoluciones">
                            <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck"></i></p>
                
                            <div class="contenedor-descripciones">    
                                <p class="precios"  id="dimesiones-descripciones">uY 2500</p>
                                <p class="main-size iconos-main item0"> 10% off </p>
                                <p class="main-size item4">Camiseta Uruguay</p>
                            </div>
                        </article>
                    
                        <article class="articulo-margin borde-producto">    
                            <img src="./imagenes/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy" class="resoluciones">
                            <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck"></i></p>
                                
                            <div class="contenedor-descripciones">
                                <p class="precios" id="dimesiones-descripciones"> uS$700 </p>
                                <p class="main-size iconos-main item0"> 15% off</p>
                                <p class="main-size item4">Samsung Galaxy S10</p>
                            </div>
                        </article>
                    </div>
        
                </section>
                    

                <h2 class="titulares ofertas-none">Sección de ofertas</h2>
                    
                <section  class="main-articulos-ofertas">

                    <div class="productos-desktop">
                         <article class="articulo-margin borde-producto">
                                
                                <img src="./imagenes/img-tv-samsung-smart.jpg" alt="Imagen de TV Samsung " class="resoluciones">
                                <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck"></i></p>
                
                                <div class="contenedor-descripciones">
                                    <p class="precios item1"> uS$1490</p>
                                    <p class="main-size iconos-main item0">30% off</p>
                                    <p class="main-size item4">TV-Samsung</p>
                                </div>   
                        </article>

                        <article class="articulo-margin borde-producto">
                            <img src="./imagenes/productonuevo3.jpg" alt="JBL Charge 5" class="resoluciones">
                            <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck"></i></p>
                
                             <div class="contenedor-descripciones">
                                <p class="precios item1"> uS$300</p>
                                <p class="main-size iconos-main item0">30% off</p>
                                <p class="main-size item4">JBL Charge 5</p>
                            </div>  
                        </article>
                    </div>
                        
                        <div class="productos-desktop">
                            <article class="articulo-margin borde-producto">
                                <img src="./imagenes/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex" class="resoluciones">
                                <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck"></i></p>
                
                                <div class="contenedor-descripciones">
                                    <p class="precios"  id="dimesiones-descripciones">uS$ 40</p>
                                    <p class="main-size iconos-main item0">25% off</p>
                                    <p class="main-size item4">Cafetera Moulinex</p>
                                </div>
                            </article>

                            <article class="articulo-margin borde-producto">
                                <img src="./imagenes/productonuevo4.jpg" alt="Imagen Joystick xbox " class="resoluciones">
                                <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck"></i></p>
                
                                <div class="contenedor-descripciones">
                                    <p class="precios item1"> uS$100</p>
                                    <p class="main-size iconos-main item0">30% off</p>
                                    <p class="main-size item4">Joystick Xbox</p>
                                </div>   
                            </article>
                        </div>
    
                </section>
                
            </div>

        </main>
        
        <footer >

            <section class="footer">

                <article class="footer-articulos">
                    <i class="fa-solid fa-credit-card iconos-footer "></i>
                     
                    <div class="iconos-footer-margin">
                        <h3 class="footer-titulares"> Pagá con tarjeta o efectivo</h3>
                        <p class="parrafos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </div>    
                </article>
                        
                <article class="footer-articulos">
                    <i class="fa-solid fa-gift iconos-footer"></i>

                    <div class="iconos-footer-margin">
                        <h3 class="footer-titulares">Envío gratis desde $ 2.500</h3>
                        <p class="parrafos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                </article>
        
                <article class="footer-articulos">
                    <i class="fa-solid fa-user-shield iconos-footer"></i>

                    <div class="iconos-footer-margin">
                        <h3 class="footer-titulares">Seguridad, de principio a fin</h3>
                        <p class="parrafos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> 
                    </div>
                </article>

            </section>
            
            <article class="footer-articulos ">
                    <p class="parrafos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>

        </footer>
        
    </body>
</html>