<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width = device-width">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css
    ">
    <link href="./css/styless.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/99336f54c5.js" crossorigin="anonymous"></script>
    
    <script src='main.js'></script>
</head>

<body>
    <header class="header">
        <div class="header-top-bar ">
            
            <img src="./imagenes/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo">
            <a href="./financiacion.html" class="header-compras"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</a>
       
        </div>
        <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>
        
        <nav class="header-bottom-bar">
            
           <ul class="nav-var">
                <li><a href="#"> Ofertas | </a></li>
                <li><a href="./tiendasOficiales.html"> Tiendas Oficiales | </a></li>
                <li><a href="./vender.html"> Vender | </a></li>
                <li><a href="./ayuda.html"> Ayuda |</a></li>
            </ul>
       
         
            <ul class="nav-var-derecha">
                <li><a href="./creaTuCuenta.html"> <i class="far fa-id-card"></i> Creá tu cuenta |</a></li>
                <li><a href="./ingresa.html"> <i class="fas fa-sign-in-alt"></i> Ingresa |</a></li>
                <li><a href="./misCompras.html"> <i class="fas fa-shopping-basket"></i> Mis compras |</a></li>
            </ul>
        </nav> 
        
    </header>
       
       
    
    
    <main class="main">
        <section>
            <h2 >Basado en tu última visita</h2>
            <article>
                <img src="./imagenes/img-macbook-pro-2019.jpg" alt="Imagen de MacBook" class="resoluciones">
                <p> Precio del producto : uS$ 1500 </p>
                <p> 10% off </p>
                <p>MacBook Pro 2019</p> 
            </article>
            <article>
                <img src="./imagenes/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy" class="resoluciones">
                <p> Precio del producto : uS$700 </p>
                <p> 5% off</p>
                <p>Samsung Galaxy S10</p>
                    
            </article>
        </section>
        
        <section>
            
            <h2>Sección de ofertas</h2>
            
            <article>
                <img src="./imagenes/img-tv-samsung-smart.jpg" alt="Imagen de TV Samsung" class="resoluciones">
                <p>Precio del producto : uS$1490</p>
                <p>30$ off</p>
                <p>Smart-TV Samsung FSDK</p>
            </article>
            <article>
                <img src="./imagenes/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex" class="resoluciones">
                <p>Precio del producto : uS$40</p>
                <p>Cafetera Moulinex</p>
            </article>

        </section>
    
    </main>
    
    <footer class="footer">
        
       
        <i class="fa-solid fa-credit-card"></i>
        <h3 > Pagá con tarjeta o efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        
        
        
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
       
        <i class="fa-solid fa-user-shield "></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> 
    
        
       
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
       
    
  
    </footer>
</body>
</html>