<html>


    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>

        <!--Viewport-->

        <meta name="viewport" content="width = device-width">
        <title>Mercado Liebre</title>
        
        <!--Bootstrap (icons)-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        
         <!--Normalize-->

         <link rel="stylesheet" href="./css/normalize.css">

        <!--My Styles-->
        <link href="./css/styless.css" rel="stylesheet">

         <!--Font Roboto-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/99336f54c5.js" crossorigin="anonymous"></script>
        
        <script src='main.js'></script>
    </head>
    <body>

        <header class="header">

            <div class="hedear-crea-tu-cuenta">

            
                <div class="header-top-bar ">
                    
                    <a href="/"><img  src="./imagenes/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"></a> 

                </div>

              
                
                <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>

                <nav class="header-bottom-bar">
                    
                    <ul class="nav-var">
                        
                        <li><a href="#"> Ayuda |</a></li>
        
                    </ul>
        
                </nav> 
            
            </div>
           

        </header>
    


        <main class="main-login">

            <section class="form-login">
                <article class="form-login-hijo borde-fondo-2">

                    <h2 class="titulo-login">Bienvenidos</h2>

                    <form action="/" method="get">
                        <div class="div-form-hijo">
                            <input type="text" name="nombre" placeholder="User@" class="input-login" minlength="6" required>   
                        </div>
                        <div>
                            <input type="password" name="password" placeholder="Password" class="input-login" minlength="6" required>
                        </div>
                        <div>
                           <a href="/"><button type="submit" class="div-form-hijo button-login-siging" >SIGN IN</button></a> 
                        </div>

                        <div class="div-form-hijo">
                            <h5>¿No recordás la contraseña?</h5> <span><a href="#" class="link-login link-login-2">Recupera tu contraseña</a></span>
                        </div>
                        <div class="div-form-hijo">
                            <h5>¿No tenés cuenta?</h5><span><a href="/creatucuenta" class="link-login link-login-2">Registrate</a></span>
                        </div>
                        <div class="div-form-hijo">
                            <button class="button-login"><a href="https://myaccount.google.com/" class="link-login">REGISTRARME CON GOOGLE</a></button>
                        </div>
                    </form>
                </article>
            </section>

        </main>

        
        <footer >

            <section class="footer">

                 <article class="footer-articulos">
                    <i class="fa-solid fa-credit-card iconos-footer "></i>
                     
                    <div class="iconos-footer-margin">
                        <h3 class="footer-titulares"> Pagá con tarjeta o efectivo</h3>
                        <p class="parrafos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </div>    
                </article>
        
                        
                <article class="footer-articulos">
                    <i class="fa-solid fa-gift iconos-footer"></i>

                    <div class="iconos-footer-margin">
                        <h3 class="footer-titulares">Envío gratis desde $ 2.500</h3>
                        <p class="parrafos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                </article>
        
                <article class="footer-articulos">
                    <i class="fa-solid fa-user-shield iconos-footer"></i>

                    <div class="iconos-footer-margin">
                        <h3 class="footer-titulares">Seguridad, de principio a fin</h3>
                        <p class="parrafos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> 
                    </div>
                </article>

            </section>
            
            <article class="footer-articulos ">
                    <p class="parrafos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </footer>
        
    </body>
</html>