<html>

    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>

        <header class="header">

            <div class="hedear-crea-tu-cuenta">   
                <div class="header-top-bar ">       
                    <a href="/"><img  src="/imagenes/img-main/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"></a> 
                </div>
  
                <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>

                <nav class="header-bottom-bar">      
                    <ul class="nav-var">
                        <li><a href="#"> Ayuda |</a></li>
                        <li><a href="/users/ingresa"> <i class="fas fa-sign-in-alt"></i> Ingresa |</a></li>
                    </ul>
                </nav> 
            </div>
  
        </header>

        <main class="main-login">
            <section class=" section-crea-tu-cuenta">
                <article class="formulario-crear-cuenta borde-fondo-2">
                    <form action="/" method="get" id="form">
                        <div class=>      
                            <input type="text" name="nombre" id="nombre" required placeholder="Nombre - Completo" minlength="3" pattern="[A-Za-z0-9_-]{1,15}" >
                        </div>
                        <div>        
                            <input type="text" name="usuario" id="usuario" placeholder="Usuario" required pattern="[A-Za-z0-9_-]{1,15}" minlength="6">
                        </div>
                        <div>
                            <label for="fecha">Fecha de nacimiento :</label>
                            <input type="date" name="fechanacimiento" id="fecha">
                        </div>
                        <div>    
                            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
                        </div>
                        <div>
                            Perfil de usuario: <br><br>
                            <label for="tipotransaccion">Voy a comprar </label>
                            <input type="radio" name="tipotransaccion" value="comprar">
                        
                            <label for="domicilio">Voy a vender </label>
                            <input type="radio" name="tipotransaccion" value="vender">
                        </div>
                        <div>
                            <label>Seleccione categorías de interés :</label> <br>
                            Electrónica <input type="checkbox" name="interes" value="Electro">
                            <br>
                            Moda <input type="checkbox" name="interes" value="Moda">
                            <br>
                            Hogar <input type="checkbox" name="interes" value="Hogar">
                            <br>
                            Juguetería <input type="checkbox" name="interes" value="Jugueteria">
                            <br>
                            Vida Santa <input type="checkbox" name="interes" value="Vida Sana">
                        </div>
                        <div>
                            <label for="foto">Seleccionar una imagen para el perfil :</label>
                            <input type="file" name="img" accept=".jpg" class="input-img-usuario">
                        </div>
                        <div>                
                            <input type="password" name="password" id="contraseña" placeholder="Contraseña :" required minlength="6">
                        </div>
                        <div>                 
                            <input type="password" name="password" id="contraseña" placeholder="Confirme contraseña :" required minlength="6">
                        </div>
                        <div>
                            <button type="reset" class="detele-button">Borrar</button>
                            <button type="submit" class="submit-button"> Enviar</button>
                        </div>
                    </form>
                </article>
            </section>
            
        </main>

        <footer >
            <%- include('../partials/footer.ejs') %>
        </footer>
        
    </body>

</html>